In [2]:
import pandas as pd

In [3]:
df = pd.read_stata("klm_indresp.dta",convert_categoricals= False)

In [23]:
print("klm_payhr" in df.columns)

False

In [5]:
columns_needed = [
    "pidp", "klm_sex", "klm_dvage", "klm_hiqual_dv", "klm_gor_dv",
    "klm_jbstat", "klm_jbsemp", "klm_jbsoc00_cc",
    "klm_jbhrs", "klm_prefhrs",
    "klm_payhr",          # corrected
    "klm_fimngrs_dv",
    "klm_jbsat", 
    "klm_jbspay",         # corrected
    "klm_jbshrs",         # corrected
    "klm_scghq1_dv", "klm_sf12mcs_dv", 
    "klm_disdif1",
    "klm_hlstat_dv",      # corrected
    "klm_jbterm1"
]


col = []
for c in columns_needed:
    if c in df.columns:
        col.append(c)

In [24]:
[col for col in df.columns if "hrs" in col.lower()]
[col for col in df.columns if "pref" in col.lower()]
[col for col in df.columns if "pay" in col.lower()]
[col for col in df.columns if "sat" in col.lower()]
[col for col in df.columns if "hl" in col.lower()]

['klm_schlloc',
 'klm_hl2gp',
 'klm_hl2hop',
 'klm_vouchletter',
 'klm_rhland_code',
 'klm_depchl_dv',
 'klm_ndepchl_dv']

In [7]:
data

,pidp,klm_sex,klm_dvage,klm_hiqual_dv,klm_gor_dv,klm_jbstat,klm_jbsemp,klm_jbsoc00_cc,klm_jbhrs,klm_fimngrs_dv,klm_jbsat,klm_scghq1_dv,klm_sf12mcs_dv,klm_disdif1,klm_jbterm1
0,68008847,2,63,5,1,2,1,413,39.0,2636.000000,7,12,42.36,1,1
1,68009527,1,43,2,1,2,1,312,36.5,2854.669922,5,12,43.27,0,1
2,68061288,2,35,1,1,2,1,711,13.0,535.440002,3,12,48.81,0,2
3,68010887,2,57,1,1,2,1,323,37.0,2040.000000,7,11,57.33,0,1
4,68068082,1,60,3,1,1,2,531,-8.0,2340.030029,6,9,57.16,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28643,1651971690,2,50,1,7,3,-8,-8,-8.0,8.330000,-8,14,29.10,0,-8
28644,1651971730,2,75,5,7,4,-8,-8,-8.0,754.000000,-8,14,35.47,1,-8
28645,1652366050,1,33,1,8,2,1,113,37.0,3583.330078,5,16,43.12,0,1
28646,1639697692,2,66,3,7,4,-8,-8,-8.0,699.000000,-8,-8,42.55,0,-8
28647,1653127650,1,78,5,7,4,-8,-8,-8.0,1170.000000,-8,11,35.36,0,-8

# Variable Notes:
##### gender: 1: male; 2: female; -9: missing; -8: inapplicable; -2: refusal; -1: don't know
##### age: -9: missing; -8: inapplicable; -2: refusal; -1: don't know
##### education_level: 1: Degree; 2: Other higher degree; 3: A-level etc; 4: GCSE etc; 5: Other qualification; -9: missing; -8: inapplicable; -2: refusal; -1: don't know; -7: proxy
#####

In [8]:
data.rename(columns={
    "pidp": "person_id",
    "klm_sex": "gender",
    "klm_dvage": "age",
    "klm_hiqual_dv": "education_level",
    "klm_gor_dv": "region",
    "klm_jbstat": "employment_status",
    "klm_jbsemp": "self_employed",
    "klm_jbsoc00_cc": "occupation_code",
    "klm_jbhrs": "actual_hours",
    "klm_prefhrs": "preferred_hours",
    "klm_payhr_dv": "hourly_pay",
    "klm_fimngrs_dv": "monthly_income",
    "klm_jbsat": "job_satisfaction",
    "klm_jbsat_pay": "pay_satisfaction",
    "klm_jbsat_hours": "hours_satisfaction",
    "klm_scghq1_dv": "ghq_score",
    "klm_sf12mcs_dv": "mental_health_score",
    "klm_disdif1": "disability_status",
    "klm_hlstat": "health_status",
    "klm_jbterm1": "contract_type"
}, inplace=True)

/var/folders/hy/zd3zjtb15k9f9916r76r6pj80000gn/T/ipykernel_13285/2399031035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={

In [9]:
data.isnull().sum()

person_id              0
gender                 0
age                    0
education_level        0
region                 0
employment_status      0
self_employed          0
occupation_code        0
actual_hours           0
monthly_income         0
job_satisfaction       0
ghq_score              0
mental_health_score    0
disability_status      0
contract_type          0
dtype: int64

In [10]:
data.dtypes

person_id                int32
gender                    int8
age                      int16
education_level           int8
region                    int8
employment_status         int8
self_employed             int8
occupation_code          int16
actual_hours           float64
monthly_income         float32
job_satisfaction          int8
ghq_score                 int8
mental_health_score    float64
disability_status         int8
contract_type             int8
dtype: object

In [11]:
data

,person_id,gender,age,education_level,region,employment_status,self_employed,occupation_code,actual_hours,monthly_income,job_satisfaction,ghq_score,mental_health_score,disability_status,contract_type
0,68008847,2,63,5,1,2,1,413,39.0,2636.000000,7,12,42.36,1,1
1,68009527,1,43,2,1,2,1,312,36.5,2854.669922,5,12,43.27,0,1
2,68061288,2,35,1,1,2,1,711,13.0,535.440002,3,12,48.81,0,2
3,68010887,2,57,1,1,2,1,323,37.0,2040.000000,7,11,57.33,0,1
4,68068082,1,60,3,1,1,2,531,-8.0,2340.030029,6,9,57.16,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28643,1651971690,2,50,1,7,3,-8,-8,-8.0,8.330000,-8,14,29.10,0,-8
28644,1651971730,2,75,5,7,4,-8,-8,-8.0,754.000000,-8,14,35.47,1,-8
28645,1652366050,1,33,1,8,2,1,113,37.0,3583.330078,5,16,43.12,0,1
28646,1639697692,2,66,3,7,4,-8,-8,-8.0,699.000000,-8,-8,42.55,0,-8
28647,1653127650,1,78,5,7,4,-8,-8,-8.0,1170.000000,-8,11,35.36,0,-8

In [12]:
data['contract_type'] = data['contract_type'].map({
    1: "Permanent",
    2: "Fixed-term",
    3: "Temporary",
    4: "Seasonal",
    5: "Casual",
    -8: "Don’t know",
    -9: "Missing"
})

/var/folders/hy/zd3zjtb15k9f9916r76r6pj80000gn/T/ipykernel_13285/2317809832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['contract_type'] = data['contract_type'].map({

In [13]:
data['contract_type'].unique()

array(['Permanent', 'Fixed-term', 'Don’t know', nan], dtype=object)

In [14]:
data = data[(data['age'] >= 16) & (data['age'] <=64)]

In [15]:
data.to_csv("2021_data.csv", index=False)

In [16]:
data

,person_id,gender,age,education_level,region,employment_status,self_employed,occupation_code,actual_hours,monthly_income,job_satisfaction,ghq_score,mental_health_score,disability_status,contract_type
0,68008847,2,63,5,1,2,1,413,39.0,2636.000000,7,12,42.36,1,Permanent
1,68009527,1,43,2,1,2,1,312,36.5,2854.669922,5,12,43.27,0,Permanent
2,68061288,2,35,1,1,2,1,711,13.0,535.440002,3,12,48.81,0,Fixed-term
3,68010887,2,57,1,1,2,1,323,37.0,2040.000000,7,11,57.33,0,Permanent
4,68068082,1,60,3,1,1,2,531,-8.0,2340.030029,6,9,57.16,0,Fixed-term
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28640,1638834134,2,46,1,7,2,1,611,36.0,1614.670044,7,10,54.37,0,Permanent
28641,1651543250,2,41,4,7,2,1,415,36.0,2956.219971,6,7,54.37,0,Permanent
28642,1651971650,1,46,1,7,1,-8,-8,-8.0,8.330000,-8,12,41.00,0,Don’t know
28643,1651971690,2,50,1,7,3,-8,-8,-8.0,8.330000,-8,14,29.10,0,Don’t know
28645,1652366050,1,33,1,8,2,1,113,37.0,3583.330078,5,16,43.12,0,Permanent

In [17]:
data["actual_hours"].unique()

array([39. , 36.5, 13. , 37. , -8. , 37.5, 34. , 40. , 25. , 35. , 16. ,
       30. , 36. , 17. ,  2. , 41. , 18. , 28. , 50. , 45. , 38. , 22. ,
       24. , 44. , -1. , 10. , 20. , 18.5, -2. ,  7. , 15. , 12. , 42. ,
       21. , 48. , 27. , 14.6,  8. , 26. , 32. , 35.5, 22.5, 28.5,  5. ,
       14. , 38.5, 27.5, 55. , 42.5,  4. , 91. ,  3. , 24.5, 60. , 14.5,
       46. , 34.5, 12.5, 36.3,  1. , 16.5, 36.2,  7.5, 30.8, 47. , 33. ,
       19. , 43. , 49. ,  6. ,  0.1, 56. , 31. , 39.5, 70. , 29. , 97. ,
       84. , 26.5, 40.5, 23. , 22.2, 32.5, 17.5, 20.5,  7.4,  9. ,  1.5,
       -9. , 23.5, 57. , 11. , 18.8, 29.6,  4.5, 19.5, 29.5, 37.3, 25.5,
       54. , 31.2, 65. , 34.7, 33.5, 18.7, 80. , 52. , 72. , 41.5, 36.4,
       14.8, 75. , 27.7,  6.5, 33.7, 31.5, 27.2,  9.5, 58. , 47.5, 37.7,
       30.5, 37.4, 28.8,  8.5,  5.5, 21.7,  5.6, 29.3, 22.4, 37.6, 42.3,
       38.7, 13.5, 45.5, 38.3,  5.3,  2.5, 50.7, 25.7, 37.2, 43.5, 52.5,
       33.3, 15.5, 11.5, 96. ,  3.5, 46.7, 41.3, 82. , 30.2, 26.4,  7.3,
       21.5, 20.7, 24.7, 38.2, 44.5, 32.4, 15.1, 32.3, 14.4, 39.7, 22.6,
       28.7, 25.2, 10.5, 68. , 21.9, 37.8, 21.2, 26.2, 17.3, 14.7, 11.2])