In [1]:
import pandas as pd

In [2]:
df = pd.read_stata("lmn_indresp.dta",convert_categoricals= False)

In [3]:
columns_needed = [
    "pidp", "lmn_sex", "lmn_dvage", "lmn_hiqual_dv", "lmn_gor_dv",
    "lmn_jbstat", "lmn_jbsemp", "lmn_jbsoc00_cc", "lmn_jbhrs", "lmn_prefhrs",
    "lmn_payhr_dv", "lmn_fimngrs_dv", "lmn_jbsat", "lmn_jbsat_pay",
    "lmn_jbsat_hours", "lmn_scghq1_dv", "lmn_sf12mcs_dv", "lmn_disdif1",
    "lmn_hlstat", "lmn_jbterm1", "lmn_indinui_xw"

]

col = []
for c in columns_needed:
    if c in df.columns:
        col.append(c)

In [4]:
print("lmn_prfhrs" in df.columns)

False

In [5]:
data = df[col]

In [6]:
data.rename(columns={
    "pidp": "person_id",
    "lmn_sex": "gender",
    "lmn_dvage": "age",
    "lmn_hiqual_dv": "education_level",
    "lmn_gor_dv": "region",
    "lmn_jbstat": "employment_status",
    "lmn_jbsemp": "self_employed",
    "lmn_jbsoc00_cc": "occupation_code",
    "lmn_jbhrs": "actual_hours",
    "lmn_prefhrs": "preferred_hours",
    "lmn_payhr_dv": "hourly_pay",
    "lmn_fimngrs_dv": "monthly_income",
    "lmn_jbsat": "job_satisfaction",
    "lmn_jbsat_pay": "pay_satisfaction",
    "lmn_jbsat_hours": "hours_satisfaction",
    "lmn_scghq1_dv": "ghq_score",
    "lmn_sf12mcs_dv": "mental_health_score",
    "lmn_disdif1": "disability_status",
    "lmn_hlstat": "health_status",
    "lmn_jbterm1": "contract_type",
    "lmn_indinui_xw": "weight_uk"
}, inplace=True)

/var/folders/hy/zd3zjtb15k9f9916r76r6pj80000gn/T/ipykernel_58911/671297649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={

In [7]:
data.isnull().sum()

person_id              0
gender                 0
age                    0
education_level        0
region                 0
employment_status      0
self_employed          0
occupation_code        0
actual_hours           0
monthly_income         0
job_satisfaction       0
ghq_score              0
mental_health_score    0
disability_status      0
contract_type          0
dtype: int64

In [8]:
data

,person_id,gender,age,education_level,region,employment_status,self_employed,occupation_code,actual_hours,monthly_income,job_satisfaction,ghq_score,mental_health_score,disability_status,contract_type
0,68006127,2,52,4,1,97,-8,-8,-8.0,1443.500000,-8,22,39.73,1,-8
1,68020564,1,52,4,1,8,-8,-8,-8.0,1036.000000,-7,-7,-7.00,1,-8
2,68008847,2,64,5,1,2,1,415,39.0,2371.000000,7,9,49.99,0,1
3,68009527,1,44,2,1,2,1,312,39.0,3208.330078,4,11,-8.00,0,1
4,68061288,2,36,1,1,2,1,711,15.2,840.700012,3,12,36.43,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29965,1635325322,1,70,2,9,4,-8,-8,-8.0,1400.000000,-8,8,58.83,0,-8
29966,1632682051,2,60,3,9,2,1,611,37.5,2166.669922,6,13,45.86,0,1
29967,1652366050,1,34,1,8,2,1,113,37.0,4583.330078,5,14,38.17,0,1
29968,1632038087,1,66,3,1,4,-8,-8,-8.0,1220.829956,-8,10,41.13,1,-8
29969,1632038091,2,64,2,1,2,1,611,16.0,1172.880005,6,10,51.85,1,1

In [9]:
data.dtypes

person_id                int32
gender                    int8
age                      int16
education_level           int8
region                    int8
employment_status         int8
self_employed             int8
occupation_code          int16
actual_hours           float64
monthly_income         float32
job_satisfaction          int8
ghq_score                 int8
mental_health_score    float64
disability_status         int8
contract_type             int8
dtype: object

In [11]:
data = data[(data['age'] >= 16) & (data['age'] <= 64)]

In [12]:
data.to_csv("2022_data.csv", index= False)