In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
data_2021 = pd.read_csv("2021_data_.csv")
data_2022 = pd.read_csv("2022_data.csv")

In [39]:
data_2021

,person_id,gender,age,education_level,region,employment_status,self_employed,occupation_code,actual_hours,monthly_income,job_satisfaction,ghq_score,mental_health_score,disability_status,contract_type
0,68008847,2,63,5,1,2,1,413,39.0,2636.00,7,12,42.36,1,1
1,68009527,1,43,2,1,2,1,312,36.5,2854.67,5,12,43.27,0,1
2,68061288,2,35,1,1,2,1,711,13.0,535.44,3,12,48.81,0,2
3,68010887,2,57,1,1,2,1,323,37.0,2040.00,7,11,57.33,0,1
4,68068082,1,60,3,1,1,2,531,-8.0,2340.03,6,9,57.16,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21082,1638834134,2,46,1,7,2,1,611,36.0,1614.67,7,10,54.37,0,1
21083,1651543250,2,41,4,7,2,1,415,36.0,2956.22,6,7,54.37,0,1
21084,1651971650,1,46,1,7,1,-8,-8,-8.0,8.33,-8,12,41.00,0,-8
21085,1651971690,2,50,1,7,3,-8,-8,-8.0,8.33,-8,14,29.10,0,-8
21086,1652366050,1,33,1,8,2,1,113,37.0,3583.33,5,16,43.12,0,1

In [40]:
data_2022['contract_type'].unique()

array([-8,  1,  2, -1, -2])

In [41]:
df = pd.concat([data_2022,data_2021], axis=0)

In [42]:
data_encoded = pd.concat([data_2022,data_2021], axis=0)

In [43]:
data_encoded = data_encoded.dropna()

In [44]:
data_encoded.to_csv('main_data_encoded_.csv', index= False)